packaging_format = 2

id = "libreto"
name = "Libreto"
description.en = "Aggregate your pads to create a wiki"
description.fr = "Agrégez vos pads pour créer un wiki"

version = "0.0.20180605~ynh4"

maintainers = ["ljf"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://libreto.net"
demo = "https://libreto.net"
code = "https://github.com/Ventricule/libreto"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/libreto"

    [install.init_main_permission]
    help.en = "If enabled, Libreto will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, Libreto sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

    [install.etherpad_instance]
    ask.en = "Choose etherpad URL Libreto should use?"
    ask.fr = "Choisissez l'URL de l'instance etherpad que Libreto utilisera ?"
    help.en = "Libreto need an Etherpad instance, you should install before the package etherpad. You need a valid certificate."
    help.fr = "Libreto a besoin d'une instance Etherpad, vous devriez installer le paquet Libreto avant. Vous devez avoir un certificat valide."
    type = "string"
    optional = true
    example = "https://annuel2.framapad.org"
    default = "https://annuel2.framapad.org"

    [install.creation_open]
    ask.en = "Should people without a YunoHost account be able to create a Libreto wiki?"
    ask.fr = "Est-ce qu'une personne sans compte YunoHost peut créer un wiki Libreto ?"
    type = "boolean"
    default = true

[resources]
    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "php8.0-fpm"
    